[Credentials]
aws_access_key_id = AKIAJHD46VMHB2FBEMMA
aws_secret_access_key = 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

[SWF]
region = us-west-2

[create_hit_sandbox]
viblio_QualificationId= 2EA1XERSQV6AYZXSTYUHYWAVKM791C
masters_QualificationId= 2ARFPLSP75KLA8M8DH1HTEQVJT3SY6
worker_no_hits_approved= 00000000000000000040
use_sandbox= True
Title= 'Camping Image Classification'
Description= 'Select the images that are of camping.'
Amount = 0.04
#3600 seconds = 1hr
AssignmentDurationInSeconds=3600
Keywords= 'oilbiv camping'
#86400 seconds = 1 day
AutoApprovalDelayInSeconds = 86400


[create_hit_production]
viblio_QualificationId= 2ZYSW6NG1FS7UCVUM361PZSZL40XJS
masters_QualificationId= 2F1QJWKUDD8XADTFD2Q0G6UTO95ALH
worker_no_hits_approved= 00000000000000000040
use_sandbox= False
Title= 'Basketball shot classification'
Description= 'Read the description and check mark basketball shot images'
Amount = 0.04
#3600 seconds = 1hr
AssignmentDurationInSeconds=3600
Keywords= 'viblio basketball shots'
#604800 seconds = 7 days
AutoApprovalDelayInSeconds = 604800

[mturk_description]
description = 'Check the box underneath each image if the image appears to be of camping.'
