[default]
# set of Cs used in cross validation
Cs = 1e-4, 1e-3, 1e-2, 1e-1, 1e0, 1e1, 1e2
# best C chosen in cross validation
best_C = 1e-1
# model file
model_file = svm_default.model
# prediction file
prediction_file = prediction.txt

